language: node_js
node_js:
    - "0.12"
before_script:
    - npm install -g gulp
    - npm install -g bower
    - bower install
    - sudo add-apt-repository ppa:ubuntu-wine/ppa -y
    - sudo apt-get update -q
    - sudo apt-get install -y wine1.7
script: gulp build
after_success: gulp build-installer
