environment:
    nodejs_version: "0.12"

install:
    - ps: Install-Product node $env:nodejs_version
    - npm install
    - npm install -g bower
    - npm install -g gulp
    - bower install

build_script: gulp build
after_build:
    - gulp build-installer
    - 7z a -r LoginWars2.zip %APPVEYOR_BUILD_FOLDER%\build\LoginWars2-win32-x64

deploy:
    provider: GitHub
    auth_token:
        secure: 3BXDg8DUFbAB7x2kUA7VSnx1dK8Pej/S2SOREIn4YieSaPFYQcT1z/po8DFqhyYm

    artifact: installer/*.nupkg, installer/RELEASES, installer/LoginWars2Setup.exe, LoginWars2.zip

    description: "LoginWars2 release"
    draft: false
    prerelease: false
    on:
        appveyor_repo_tag: true
