<!doctype html>
<meta charset="UTF-8">
<link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="css/main.css" rel="stylesheet" type="text/css" />

<div id="background-video">
    <video autoplay loop>
        <source type="video/webm">
    </video>
</div>

<app ng-app="LoginWars2">
    <window ng-controller="WindowController">
        <close-button class="no-drag"><i id="close-button-text" class="fa fa-times" ng-click="closeWindow()"></i></close-button>

        <content>
            <tab-area class="no-drag" ng-controller="TabController">
                <tabs>
                    <h1 ng-class="{'active': currentTab == 0}" ng-click="changeTab(0)" class="tab-title">{{translate("LATEST_NEWS")}}</h1>
                    <h1 ng-class="{'active': currentTab == 1}" ng-click="changeTab(1)" class="tab-title" ng-if="!configs().hideDailies">{{translate("DAILIES")}}</h1>
                    <h1 ng-class="{'active': currentTab == 2}" ng-click="changeTab(2)" class="tab-title" ng-if="currentTab == 2 || canUseTradingPost()">{{translate("TRADING_POST")}} <i ng-if="newTradesFound" class="new-tp fa fa-exclamation"></i></h1>
                </tabs>
                <div class="latest-news" ng-if="currentTab == 0">
                    <h2>{{feed.title}}</h2>
                    {{feed.news}} <a href="{{feed.link}}">{{translate("READ_MORE")}}...</a>
                </div>
                <div class="dailies no-text-selection" ng-if="currentTab == 1">
                    <div class="daily-container">
                        <h2 class="daily-title" ng-click="toggleDailySection(0)"><i ng-class="openedDailySection == 0 ? 'fa fa-folder-open' : 'fa fa-folder'"></i> {{translate("PVE_DAILIES")}}</h2>
                        <div class="daily-data daily-pve" ng-if="openedDailySection == 0">
                            <div class="daily-data-container">
                                <h3 class="daily-data-title">Today</h3>
                                <span class="daily" ng-dblclick="toggleDaily(daily.id)" ng-class="{strike: isDailyDone(daily.id)}" ng-repeat="daily in dailies.pve"> - {{dailyCache(daily.id).name}}
                            </div>
                            <div class="daily-data-container">
                                <h3 class="daily-data-title">Tomorrow</h3>
                                <span class="daily" ng-class="{strike: isDailyDone(daily.id)}" ng-repeat="daily in dailies.pve_tomorrow"> - {{dailyCache(daily.id).name}}
                            </div>
                        </div>
                    </div>
                    <div class="daily-container">
                        <h2 class="daily-title" ng-click="toggleDailySection(1)"><i ng-class="openedDailySection == 1 ? 'fa fa-folder-open' : 'fa fa-folder'"></i> {{translate("PVP_DAILIES")}}</h2>
                        <div class="daily-data daily-pvp" ng-if="openedDailySection == 1">
                            <div class="daily-data-container">
                                <h3 class="daily-data-title">Today</h3>
                                <span class="daily" ng-dblclick="toggleDaily(daily.id)" ng-class="{strike: isDailyDone(daily.id)}" ng-repeat="daily in dailies.pvp"> - {{dailyCache(daily.id).name}}
                            </div>
                            <div class="daily-data-container">
                                <h3 class="daily-data-title">Tomorrow</h3>
                                <span class="daily" ng-class="{strike: isDailyDone(daily.id)}" ng-repeat="daily in dailies.pvp_tomorrow"> - {{dailyCache(daily.id).name}}
                            </div>
                        </div>
                    </div>
                    <div class="daily-container">
                        <h2 class="daily-title" ng-click="toggleDailySection(2)"><i ng-class="openedDailySection == 2 ? 'fa fa-folder-open' : 'fa fa-folder'"></i> {{translate("WVW_DAILIES")}}</h2>
                        <div class="daily-data daily-wvw" ng-if="openedDailySection == 2">
                            <div class="daily-data-container">
                                <h3 class="daily-data-title">Today</h3>
                                <span class="daily" ng-dblclick="toggleDaily(daily.id)" ng-class="{strike: isDailyDone(daily.id)}" ng-repeat="daily in dailies.wvw"> - {{dailyCache(daily.id).name}}
                            </div>
                            <div class="daily-data-container">
                                <h3 class="daily-data-title">Tomorrow</h3>
                                <span class="daily" ng-class="{strike: isDailyDone(daily.id)}" ng-repeat="daily in dailies.wvw_tomorrow"> - {{dailyCache(daily.id).name}}
                            </div>
                        </div>
                    </div>
                    <div class="daily-container">
                        <h2 class="daily-title" ng-click="toggleDailySection(3)"><i ng-class="openedDailySection == 3 ? 'fa fa-folder-open' : 'fa fa-folder'"></i> Daily Fractals of the Mists</h2>
                        <div class="daily-data daily-fractals" ng-if="openedDailySection == 3">
                            <div class="daily-data-container">
                                <span class="daily" ng-dblclick="toggleDaily(daily.id)" ng-class="{strike: isDailyDone(daily.id)}" ng-repeat="daily in dailies.fractals"> - {{dailyCache(daily.id).name}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="trading-post" ng-if="currentTab == 2">
                    <div class="tp-item" ng-click="tradingPostItemClicked(transaction)" ng-repeat="transaction in tpTransactions | orderBy:sortTransactions | limitTo: 20">
                        <div class="tp-buysell-indicator">
                            <img ng-src="assets/{{transaction.type}}.png" />
                        </div>
                        <div class="tp-icon">
                            <img ng-src="{{itemInfo(transaction.item_id).icon}}" />
                        </div>
                        <div class="tp-info">
                            <div class="itemname">
                                <span class="quantity" ng-if="transaction.quantity > 1">{{transaction.quantity}}x </span><span ng-class="itemInfo(transaction.item_id).rarity">{{itemInfo(transaction.item_id).name}}</span>
                            </div>
                            <div class="info">
                                {{transactionTypeAction(transaction)}} {{accountName(transaction.account)}}, {{timePassed(transaction.purchased)}}.
                            </div>
                        </div>
                        <div class="tp-price">
                            <span class="coins">
                                <span ng-if="transaction.coinPrice.gold > 0">{{transaction.coinPrice.gold}}<span><img class="coin" src="assets/gold_coin.png" /></span>&nbsp;</span>
                                <span ng-if="transaction.coinPrice.silver > 0">{{pad(transaction.coinPrice.silver)}}<span><img class="coin" src="assets/silver_coin.png" /></span>&nbsp;</span>
                                <span>{{pad(transaction.coinPrice.copper)}}<span><img class="coin" src="assets/copper_coin.png" /></span></span>
                            </span>
                        </div>
                    </div>
                </div>
            </tab-area>

            <account-controller ng-controller="AccountsController">
                <accounts class="no-drag no-text-selection">
                    <h1 id="accounts-title" ng-dblclick="openDevTools()">{{translate("ACCOUNTS")}}</h1> <i id="edit-accounts-button" ng-click="editModeActive = !editModeActive" ng-class="{'edit-accounts-active': editModeActive}" class="fa fa-cog"></i>
                    <div class="account-list">
                        <item ng-if="accounts.length > 0" ng-click="accountItemClicked(account)" ng-repeat="account in accounts | orderBy: sortAccounts">
                            <div class="accicon">
                                <img ng-src="{{accountImage(account)}}" />
                            </div>
                            <div class="accname">
                                <mail ng-if="!configs().presentationMode">{{account.email}}</mail>
                                <mail ng-if="configs().presentationMode">{{presentationModeFriendlyAccountEmail(account)}}</mail>
                                <br/>
                                <name-container ng-if="!configs().presentationMode">
                                    <name ng-if="account.apikey"><img class="flag" ng-src="assets/flags/{{account.location}}{{account.worldlang}}.png" /> {{account.name}}<span> <i ng-if="apiErrorOccurred(account)" class="api-error fa fa-exclamation-circle"></i></span></name>
                                    <name ng-if="!account.apikey">No API key specified</name>
                                </name-container>
                                <name-container ng-if="configs().presentationMode">
                                    <name ng-if="account.apikey"><img class="flag" ng-src="assets/flags/{{account.location}}{{account.worldlang}}.png" /> {{presentationModeFriendlyAccountName(account)}}.1337 <i ng-if="apiErrorOccurred(account)" class="api-error fa fa-exclamation-circle"></i></name>
                                    <name ng-if="!account.apikey">No API key specified</name>
                                </name-container>
                            </div>
                            <div class="accwallet" ng-if="canUseWallet(account) && account.wallet && account.wallet.canShow">
                                <span class="laurels">
                                    <img class="laurel" src="assets/laurel.png" /> {{account.wallet.laurels}}
                                </span>
                                <span class="coins">
                                    <span ng-if="account.wallet.coins.gold > 0">{{account.wallet.coins.gold}}<span><img class="coin" src="assets/gold_coin.png" /></span>&nbsp;</span>
                                    <span ng-if="account.wallet.coins.silver > 0">{{pad(account.wallet.coins.silver)}}<span><img class="coin" src="assets/silver_coin.png" /></span>&nbsp;</span>
                                    <span>{{pad(account.wallet.coins.copper)}}<span><img class="coin" src="assets/copper_coin.png" /></span></span>
                                </span>
                            </div>
                        </item>
                        <div ng-if="accounts.length == 0" class="accounts-list-empty">
                            <p>{{translate("NO_ACCOUNTS_ADDED_TEXT")}}</p>
                        </div>
                    </div>
                </accounts>

                <actions class="no-drag" ng-controller="ActionsController">
                    <button ng-if="!configs().autoUpdates" ng-click="updateGameClient()" class="btn"><span><i class="fa fa-refresh"></i>&nbsp;&nbsp;{{translate("UPDATE_CLIENT_BUTTON")}}</span></button>
                    <button ng-click="showAddAccountDialog(true)" class="btn"><span><i class="fa fa-plus"></i>&nbsp;&nbsp;{{translate("ADD_ACCOUNT_BUTTON")}}</span></button>
                    <button ng-click="showSettingsDialog(true)" class="btn"><span><i class="fa fa-wrench"></i>&nbsp;&nbsp;{{translate("SETTINGS")}}</span></button>
                    <button ng-click="showAboutDialog(true)" class="btn"><span><i class="fa fa-info"></i>&nbsp;&nbsp;{{translate("ABOUT")}}</span></button>

                    <dialog id="add-account-dialog" class="no-drag">
                        <p>{{translate("ADD_ACCOUNT_DIALOG_INFO_TEXT")}}</p>

                        <form ng-submit="submitAddAccountDialog()">
                            <label for="add-account-email">{{translate("EMAIL")}}</label>
                            <input ng-model="account.email" type="email" id="add-account-email" class="textfield" placeholder="zojja@ratasum.com" tabindex="1" required />

                            <label for="add-account-password">{{translate("PASSWORD")}}</label>
                            <input ng-model="account.password" type="password" id="add-account-password" class="textfield" placeholder="snaff1234" tabindex="2" required />

                            <label for="add-account-apikey">{{translate("API_KEY")}} <a href="https://account.arena.net/applications/create">({{translate("API_KEY_CREATE_TEXT")}})</a></label>
                            <input ng-model="account.apikey" ng-change="checkApiKey()" type="text" id="add-account-apikey" class="textfield" placeholder="{{translate('API_KEY_PLACEHOLDER_TEXT')}}" tabindex="3" />

                            <div class="dialog-used-permissions">
                                <span class="dialog-used-permission" ng-repeat="p in permissions">
                                    <i ng-if="p.granted" class="fa fa-check granted"></i><i ng-if="!p.granted" class="fa fa-times not-granted"></i> {{p.name}}
                                </span>
                            </div>

                            <label for="add-account-addparams">{{translate("COMMAND_LINE_PARAMS_LABEL")}} <a href="https://wiki.guildwars2.com/wiki/Command_line_arguments">({{translate("COMMAND_LINE_DOCS")}})</a></label>
                            <input ng-model="account.addparams" type="text" id="add-account-addparams" class="textfield" placeholder="{{translate('COMMAND_LINE_PARAMS_PLACEHOLDER')}}" tabindex="4" />

                            <div class="dialog-button-container">
                                <button type="button" ng-click="showAddAccountDialog(false)" class="btn right"><span>{{translate("CLOSE")}}</span></button>
                                <button type="submit" id="add-account-save" class="btn"><span>{{translate("SAVE")}}</span></button>
                            </div>
                        </form>
                    </dialog>

                    <dialog id="settings-dialog" class="no-drag">
                        <h2 class="about-app">{{translate("SETTINGS")}}</h2>

                        <form ng-submit="submitSettingsDialog()">
                            <input style="display: none;" autofocus tabindex="1" />
                            <input type="checkbox" ng-model="settings.autoUpdates"/> <b>{{translate("AUTO_UPDATES_TITLE")}}</b> - {{translate("AUTO_UPDATES_TEXT")}}<br/>
                            <input type="checkbox" ng-model="settings.presentationMode"/> <b>{{translate("PRESENTATION_MODE_TITLE")}}</b> - {{translate("PRESENTATION_MODE_TEXT")}}<br/>
                            <input type="checkbox" ng-model="settings.hideDailies"/> <b>{{translate("HIDE_DAILIES_TITLE")}}</b> - {{translate("HIDE_DAILIES_TEXT")}}<br/>
                            <input type="checkbox" ng-model="settings.sortAccountsByLastUsage" /> <b>{{translate("SORT_ACCOUNTS_BY_LAST_USAGE_TITLE")}}</b> - {{translate("SORT_ACCOUNTS_BY_LAST_USAGE_TEXT")}}<br/>
                            <select name="language" id="language-select" ng-model="settings.language">
                                <option value="en" ng-selected="settings.language == 'en'">English</option>
                                <option value="de" ng-selected="settings.language == 'de'">Deutsch</option>
                                <option value="fr" ng-selected="settings.language == 'fr'">Français</option>
                                <option value="es" ng-selected="settings.language == 'es'">Español</option>
                            </select> <b>{{translate("LANGUAGE_TITLE")}}</b> - {{translate("LANGUAGE_TEXT")}}<br/>
                            <b>{{translate("GW2_PATH")}}</b> - <i>{{gw2Path}}</i> <span class="reset-link" ng-click="resetGw2Path()">({{translate("PATH_RESET")}})</span> <span class="reset-link" ng-click="selectCustomGw2Path()">({{translate("PATH_CUSTOM")}})</span>

                            <div class="dialog-button-container">
                                <button type="button" ng-click="startClassicLauncher()" class="btn left"><span>{{translate("CLASSIC_LAUNCHER")}}</span></button>
                                <button type="button" ng-click="showSettingsDialog(false)" class="btn right"><span>{{translate("CLOSE")}}</span></button>
                                <button type="submit" id="settings-save" class="btn"><span>{{translate("SAVE")}}</span></button>
                            </div>
                        </form>
                    </dialog>

                    <dialog id="about-dialog" class="no-drag">
                        <h2 class="about-app">{{translate("ABOUT")}} Login Wars 2</h2>
                        <p>
                            {{translate("ABOUT_LOGIN_WARS_2")}} <a href="https://github.com/kasoki">Kasoki.7013</a>.
                        </p>
                        <h3 class="about-assets">Asset attributions</h3>
                        <p class="about-assets-copyright">
                            &copy; 2014 ArenaNet, LLC. All rights reserved. NCSOFT, the interlocking
                            NC logo, ArenaNet, Guild Wars, Guild Wars Factions, Guild Wars Nightfall,
                            Guild Wars: Eye of the North, Guild Wars 2, and all associated logos and
                            designs are trademarks or registered trademarks of NCSOFT Corporation.
                            All other trademarks are the property of their respective owners.
                        </p>
                        <p><b>App Version</b>: {{appVersion}}</p>
                        <p><b>Electron Version</b>: {{electronVersion}}</p>

                        <form ng-submit="submitSettingsDialog()">
                            <input style="display: none;" autofocus tabindex="1" />

                            <div class="dialog-button-container">
                                <button type="button" ng-click="showGithubPage()" class="btn left"><span><i class="fa fa-github"></i> GitHub</span></button>
                                <button type="button" ng-click="showDonatePage()" class="btn left" style="margin-left: 5px;"><span><i class="fa fa-heart"></i> Donate</span></button>
                                <button type="button" ng-click="showAboutDialog(false)" class="btn right"><span>Close</span></button>
                            </div>
                        </form>
                    </dialog>
                </actions>

                <encryption-controller ng-controller="EncryptionController">
                    <dialog id="ask-encryption-dialog" class="no-drag">
                        <p>{{translate("DO_YOU_WANT_TO_ENCRYPT_TEXT")}}</p>
                        <p>
                            <b>{{translate("NOTE")}}</b>: {{translate("ENCRYPTION_RECOMMENDATION")}}
                        </p>

                        <div class="dialog-button-container">
                            <button ng-click="askDialogYes()"class="btn right"><span>{{translate("YES")}}</span></button>
                            <button ng-click="askDialogNo()"class="btn"><span>{{translate("NO")}}</span></button>
                        </div>
                    </dialog>

                    <dialog id="enter-encryption-dialog" class="no-drag">
                        <p>{{translate("SPECIFY_MASTER_PASSWORD")}}</p>

                        <form ng-submit="submitEncryptionDialog()">
                            <label for="enter-encryption-master-password">{{translate("MASTER_PASSWORD")}}</label>
                            <input ng-model="encryption.password" type="password" id="enter-encryption-master-password" class="textfield" required />

                            <label for="enter-encryption-master-password-retype">{{translate("MASTER_PASSWORD_CONFIRM")}}</label>
                            <input ng-model="encryption.passwordConfirm" type="password" id="enter-encryption-master-password-retype" class="textfield" required />

                            <div id="encrypt-dialog-error" class="dialog-error"></div>

                            <div class="dialog-button-container">
                                <button type="button" ng-click="enterDialogCancel()"class="btn right"><span>{{translate("CANCEL")}}</span></button>
                                <button type="submit" class="btn"><span>{{translate("SAVE")}}</span></button>
                            </div>
                        </form>
                    </dialog>

                    <dialog id="decrypt-dialog" class="no-drag">
                        <p>{{translate("MASTER_PASSWORD_ENTER_TO_DECRYPT")}}</p>

                        <form ng-submit="submitDecryptDialog()">
                            <label for="decrypt-password">{{translate("MASTER_PASSWORD_ENTER")}}</label>
                            <input ng-model="decryptPassword" type="password" id="decrypt-password" class="textfield" required />

                            <div id="decrypt-dialog-error" class="dialog-error"></div>

                            <div class="dialog-button-container">
                                <button type="button" ng-click="closeWindow()" class="btn right"><span>{{translate("CANCEL")}}</span></button>
                                <button type="submit" class="btn"><span>{{translate("OK")}}</span></button>
                            </div>
                        </form>
                    </dialog>
                </encryption-controller>

                <dialog id="game-starting-dialog" class="no-drag dialog-game-starting">
                    <img class=".loading" src="assets/loading.png" />
                </dialog>

                <dialog id="edit-account-dialog" class="no-drag">
                    <p>{{translate("EDIT_ACCOUNT_DETAILS_TEXT")}}</p>

                    <form ng-submit="submitEditAccountDialog()">
                        <label for="edit-account-email">{{translate("EMAIL")}}</label>
                        <input ng-model="editAcc.email" type="email" id="edit-account-email" class="textfield" placeholder="zojja@ratasum.com" tabindex="1" required />

                        <label for="edit-account-password">{{translate("PASSWORD")}}</label>
                        <input ng-model="editAcc.password" type="password" id="edit-account-password" class="textfield" placeholder="snaff1234" tabindex="2" required />

                        <label for="edit-account-apikey">{{translate("API_KEY")}} <a href="https://account.arena.net/applications/create">({{translate("API_KEY_CREATE_TEXT")}})</a></label>
                        <input ng-model="editAcc.apikey" ng-change="checkApiKey()" type="text" id="edit-account-apikey" class="textfield" placeholder="{{translate('API_KEY_PLACEHOLDER_TEXT')}}" tabindex="3" />

                        <label>{{translate("USED_PERMISSIONS")}}</label>
                        <div class="dialog-used-permissions">
                            <span class="dialog-used-permission" ng-repeat="p in editAcc._permissions">
                                <i ng-if="p.granted" class="fa fa-check granted"></i><i ng-if="!p.granted" class="fa fa-times not-granted"></i> {{p.name}}
                            </span>
                        </div>

                        <label for="edit-account-addparams">{{translate("COMMAND_LINE_PARAMS_LABEL")}} <a href="https://wiki.guildwars2.com/wiki/Command_line_arguments">({{translate("COMMAND_LINE_DOCS")}})</a></label>
                        <input ng-model="editAcc.addparams" type="text" id="edit-account-addparams" class="textfield" placeholder="{{translate('COMMAND_LINE_PARAMS_PLACEHOLDER')}}" tabindex="4" />

                        <div class="dialog-button-container">
                            <button type="button" ng-click="closeEditAccountWindow()" class="btn right"><span>{{translate("CLOSE")}}</span></button>
                            <button type="button" ng-click="deleteAccount()" class="btn"><span>{{translate("DELETE")}}</span></button>
                            <button type="submit" id="edit-account-save" class="btn"><span>{{translate("SAVE")}}</span></button>
                        </div>
                    </form>
                </dialog>
            </account-controller>

            <div class="content-overlay" ng-hide="!showContentOverlay"></div>
        </content>

        <span id="beta-label"></span>
        <div class="titlebar"></div>
    </window>
</app>

<!-- libraries -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/ngstorage/ngStorage.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/cryptojslib/rollups/aes.js"></script>
<script src="bower_components/konami.js/konami.min.js"></script>

<!-- data -->
<script src="js/data/translations.js"></script>

<!-- utils -->
<script src="js/utils/utils.js"></script>
<script src="js/utils/setup-logger.js"></script>

<!-- angular stuff -->
<script src="js/main.js"></script>
<script src="js/directives/link-hack.js"></script>
<script src="js/factories/feeds.js"></script>
<script src="js/factories/gw2.js"></script>
<script src="js/factories/translate.js"></script>
<script src="js/controllers/window.js"></script>
<script src="js/controllers/tab.js"></script>
<script src="js/controllers/account.js"></script>

<!-- other stuff -->
<script src="js/utils/egg.js"></script>
