<!doctype html>
<link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="css/main.css" rel="stylesheet" type="text/css" />

<app ng-app="DynamicsApp" class="drag">
    <close-button ng-controller="CloseController" class="no-drag"><i id="close-button-text" class="fa fa-times" ng-click="close()"></i></close-button>

    <!-- TODO: add background video :( -->
    <div id="background-video" class="background-video"></div>

    <content>
        <news class="no-drag" ng-controller="TabController">
            <tabs>
                <h1 ng-class="{'active': current == 0}" ng-click="changeTab(0)" class="tab-title">Latest News</h1>
                <h1 ng-class="{'active': current == 1}" ng-click="changeTab(1)" class="tab-title" ng-if="!configs().hideDailies">Dailies</h1>
                <h1 ng-class="{'active': current == 2}" ng-click="changeTab(2)" class="tab-title" ng-if="current == 2 || canUseTradingPost()">Trading Post</h1>
            </tabs>
            <div class="latest-news" ng-if="current == 0">
                <h2>{{feed.title}}</h2>
                {{feed.news}} <a href="{{feed.link}}">Read more...</a>
            </div>
            <div class="dailies no-text-selection" ng-if="current == 1">
                <div class="daily-container daily-pve">
                    <h2>PvE Dailies</h2>
                    <span class="daily" ng-repeat="daily in dailies.pve">{{daily}}</span>
                </div>
                <div class="daily-container daily-pvp">
                    <h2>PvP Dailies</h2>
                    <span class="daily" ng-repeat="daily in dailies.pvp">{{daily}}</span>
                </div>
                <div class="daily-container daily-wvw">
                    <h2>WvW Dailies</h2>
                    <span class="daily" ng-repeat="daily in dailies.wvw">{{daily}}</span>
                </div>
            </div>
            <div class="trading-post" ng-if="current == 2">
                coming soon...
            </div>
        </news>

        <account-controller ng-controller="AccountsController">
            <accounts class="no-drag no-text-selection">
                <h1>Accounts</h1>
                <div class="account-list">
                    <item ng-if="accounts.length > 0" ng-click="login(account.email, account.password, account.addparams)" ng-repeat="account in accounts">
                        <div class="accicon">
                            <img src="assets/acc.png" />
                        </div>
                        <div class="accname">
                            <mail ng-if="!configs().presentationMode">{{account.email}}</mail>
                            <mail ng-if="configs().presentationMode">{{presentationModeFriendlyAccountName(account)}}@presentation.mode</mail>
                            <br/>
                            <name-container ng-if="!configs().presentationMode">
                                <name ng-if="account.apikey">{{account.name}}</name>
                                <name ng-if="!account.apikey">No API key specified</name>
                            </name-container>
                            <name-container ng-if="configs().presentationMode">
                                <name ng-if="account.apikey">{{presentationModeFriendlyAccountName(account)}}.1337</name>
                                <name ng-if="!account.apikey">No API key specified</name>
                            </name-container>
                        </div>
                    </item>
                    <div ng-if="accounts.length == 0" class="accounts-list-empty">
                        <p>You don't have any accounts added yet, press the "Add Account" button below to add accounts</p>
                    </div>
                </div>
            </accounts>

            <actions class="no-drag" ng-controller="ActionsController">
                <button ng-if="!configs().autoUpdates" ng-click="updateGameClient()" class="btn"><span>Update Client</span></button>
                <button ng-click="showAddAccountDialog()" class="btn"><span>Add Account</span></button>
                <button class="btn"><span>Settings</span></button>

                <dialog id="add-account-dialog" class="no-drag">
                    <p>Please enter your account details below.</p>

                    <form ng-submit="submitAddAccountDialog()">
                        <label for="add-account-email">E-Mail</label>
                        <input ng-model="account.email" type="email" id="add-account-email" class="textfield" placeholder="zojja@ratasum.com" tabindex="1" required />

                        <label for="add-account-password">Password</label>
                        <input ng-model="account.password" type="password" id="add-account-password" class="textfield" placeholder="snaff1234" tabindex="2" required />

                        <label for="add-account-apikey">API Key <a href="https://account.arena.net/applications/create">(Create one here)</a></label>
                        <input ng-model="account.apikey" type="text" id="add-account-apikey" class="textfield" placeholder="(Optional) Enter your API key." tabindex="3" />

                        <label for="add-account-addparams">Additional command line parameters <a href="https://wiki.guildwars2.com/wiki/Command_line_arguments">(Docs)</a></label>
                        <input ng-model="account.addparams" type="text" id="add-account-addparams" class="textfield" placeholder="(Optional) Add additional parameters here." tabindex="4" />

                        <div class="dialog-button-container">
                            <button type="button" ng-click="closeAddAccountDialog()" class="btn right"><span>Close</span></button>
                            <button type="submit" id="add-account-save" class="btn"><span>Save</span></button>
                        </div>
                    </form>
                </dialog>
            </actions>

            <encryption-controller ng-controller="EncryptionController">
                <dialog id="ask-encryption-dialog" class="no-drag">
                    <p>Do you want to encrypt your accounts?</p>
                    <p>
                        <b>Note</b>: It's recommended to encrypt your account data, or else your password will be stored in plain text.
                    </p>

                    <div class="dialog-button-container">
                        <button ng-click="askDialogYes()"class="btn right"><span>Yes</span></button>
                        <button ng-click="askDialogNo()"class="btn"><span>No</span></button>
                    </div>
                </dialog>

                <dialog id="enter-encryption-dialog" class="no-drag">
                    <p>Please specify a master password which will be used to encrypt your account data.</p>

                    <form ng-submit="submitEncryptionDialog()">
                        <label for="enter-encryption-master-password">Master password</label>
                        <input ng-model="encryption.password" type="password" id="enter-encryption-master-password" class="textfield" required />

                        <label for="enter-encryption-master-password-retype">Confirm your master password</label>
                        <input ng-model="encryption.passwordConfirm" type="password" id="enter-encryption-master-password-retype" class="textfield" required />

                        <div class="dialog-button-container">
                            <button type="button" ng-click="enterDialogCancel()"class="btn right"><span>Cancel</span></button>
                            <button type="submit" class="btn"><span>Save</span></button>
                        </div>
                    </form>
                </dialog>

                <dialog id="decrypt-dialog" class="no-drag">
                    <p>Please enter your master password to decrypt your account data.</p>

                    <form ng-submit="submitDecryptDialog()">
                        <label for="decrypt-password">Enter your master password</label>
                        <input ng-model="decryptPassword" type="password" id="decrypt-password" class="textfield" required />

                        <div class="dialog-button-container">
                            <button type="button" ng-click="decryptCancel()" class="btn right"><span>Cancel</span></button>
                            <button type="submit" class="btn"><span>Ok</span></button>
                        </div>
                    </form>
                </dialog>
            </encryption-controller>

            <dialog id="game-starting-dialog" class="no-drag dialog-game-starting">
                <img class=".loading" src="assets/acc.png" />
            </dialog>
        </account-controller>
    </content>

    <span id="beta-label">BETA</span>
</app>

<!-- libraries -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/ngstorage/ngStorage.min.js"></script>
<script src="bower_components/cryptojslib/rollups/aes.js"></script>
<script src="bower_components/konami.js/konami.min.js"></script>

<!-- utils -->
<script src="js/utils/utils.js"></script>
<script src="js/utils/gw2dailies.js"></script>

<!-- angular stuff -->
<script src="js/main.js"></script>
<script src="js/directives/link-hack.js"></script>
<script src="js/factories/feeds.js"></script>
<script src="js/factories/gw2.js"></script>
<script src="js/controllers/tab.js"></script>
<script src="js/controllers/account.js"></script>

<!-- other stuff -->
<script src="js/utils/egg.js"></script>
