<!doctype html>
<link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="css/main.css" rel="stylesheet" type="text/css" />

<app ng-app="DynamicsApp" class="drag">
    <close-button ng-controller="CloseController" class="no-drag"><i id="close-button-text" class="fa fa-times" ng-click="close()"></i></close-button>

    <content>
        <news class="no-drag" ng-controller="NewsController">
            <h1 class="no-text-selection">Latest News</h1>
            <div class="latest-news">
                <h2>{{feed.title}}</h2>
                {{feed.news}} <a href="{{feed.link}}">Read more...</a>
            </div>
        </news>

        <account-controller ng-controller="AccountsController">
            <accounts class="no-drag no-text-selection">
                <h1>Accounts</h1>
                <div class="account-list">
                    <item ng-click="login(account.email, account.password, account.addparams)" ng-repeat="account in accounts">
                        <div class="accicon">
                            <img src="assets/acc.png" />
                        </div>
                        <div class="accname">
                            <mail>{{account.email}}</mail><br/>
                            <name ng-if="account.apikey">{{account.name}}</name>
                            <name ng-if="!account.apikey">No API key specified</name>
                        </div>
                    </item>
                </div>
            </accounts>

            <actions class="no-drag" ng-controller="ActionsController">
                <button ng-click="updateGameClient()" class="btn"><span>Update Client</span></button>
                <button ng-click="showAddAccountDialog()" class="btn"><span>Add Account</span></button>
                <button class="btn"><span>Settings</span></button>

                <dialog id="add-account-dialog" class="no-drag">
                    <p>Please enter your account details below.</p>

                    <form ng-submit="submitAddAccountDialog()">
                        <label for="add-account-email">E-Mail</label>
                        <input ng-model="account.email" type="email" id="add-account-email" class="textfield" placeholder="zojja@ratasum.com" tabindex="1" required />

                        <label for="add-account-password">Password</label>
                        <input ng-model="account.password" type="password" id="add-account-password" class="textfield" placeholder="snaff1234" tabindex="2" required />

                        <label for="add-account-apikey">API Key <a href="https://account.arena.net/applications/create">(Create one here)</a></label>
                        <input ng-model="account.apikey" type="text" id="add-account-apikey" class="textfield" placeholder="(Optional) Enter your API key." tabindex="3" />

                        <label for="add-account-addparams">Additional command line parameters <a href="https://wiki.guildwars2.com/wiki/Command_line_arguments">(Docs)</a></label>
                        <input ng-model="account.addparams" type="text" id="add-account-addparams" class="textfield" placeholder="(Optional) Add additional parameters here." tabindex="4" />

                        <div class="dialog-button-container">
                            <button type="button" ng-click="closeAddAccountDialog()" class="btn right"><span>Close</span></button>
                            <button type="submit" id="add-account-save" class="btn"><span>Save</span></button>
                        </div>
                    </form>
                </dialog>
            </actions>

            <encryption-controller ng-controller="EncryptionController">
                <dialog id="ask-encryption-dialog" class="no-drag">
                    <p>Do you want to encrypt your accounts?</p>
                    <p>
                        <b>Note</b>: It's recommended to encrypt your account data, or else your password will be stored in plain text.
                    </p>

                    <div class="dialog-button-container">
                        <button ng-click="askDialogYes()"class="btn right"><span>Yes</span></button>
                        <button ng-click="askDialogNo()"class="btn"><span>No</span></button>
                    </div>
                </dialog>

                <dialog id="enter-encryption-dialog" class="no-drag">
                    <p>Please specify a master password which will be used to encrypt your account data.</p>

                    <form ng-submit="submitEncryptionDialog()">
                        <label for="enter-encryption-master-password">Master password</label>
                        <input ng-model="encryption.password" type="password" id="enter-encryption-master-password" class="textfield" required />

                        <label for="enter-encryption-master-password-retype">Confirm your master password</label>
                        <input ng-model="encryption.passwordConfirm" type="password" id="enter-encryption-master-password-retype" class="textfield" required />

                        <div class="dialog-button-container">
                            <button type="button" ng-click="enterDialogCancel()"class="btn right"><span>Cancel</span></button>
                            <button type="submit" class="btn"><span>Save</span></button>
                        </div>
                    </form>
                </dialog>

                <dialog id="decrypt-dialog" class="no-drag">
                    <p>Please enter your master password to decrypt your account data.</p>

                    <form ng-submit="submitDecryptDialog()">
                        <label for="decrypt-password">Enter your master password</label>
                        <input ng-model="decryptPassword" type="password" id="decrypt-password" class="textfield" required />

                        <div class="dialog-button-container">
                            <button type="button" ng-click="decryptCancel()" class="btn right"><span>Cancel</span></button>
                            <button type="submit" class="btn"><span>Ok</span></button>
                        </div>
                    </form>
                </dialog>
            </encryption-controller>

            <dialog id="game-starting-dialog" class="no-drag dialog-game-starting">
                <img class=".loading" src="assets/acc.png" />
            </dialog>
        </account-controller>
    </content>
</app>

<!-- libraries -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/ngstorage/ngStorage.min.js"></script>
<script src="bower_components/cryptojslib/rollups/aes.js"></script>

<!-- utils -->
<script src="js/utils/utils.js"></script>

<!-- angular stuff -->
<script src="js/main.js"></script>
<script src="js/directives/link-hack.js"></script>
<script src="js/factories/feeds.js"></script>
<script src="js/factories/gw2.js"></script>
<script src="js/controllers/news.js"></script>
<script src="js/controllers/account.js"></script>
