accounts {
    position: absolute;

    left: 10px;
    top: 200px;

    width: 600px;
    height: 300px;
    max-height: 300px;

    padding-left: 20px;
}

.account-list {
    overflow: auto;

    height: 260px;

    border-bottom: 1px solid #DDD;
}

.account-list item {
    display: block;

    cursor: pointer;

    padding-top: 10px;
    padding-bottom: 10px;

    border-bottom: 1px solid #DDD;

    transition: background-color 0.25s ease-in-out;
}

.account-list item:hover {
    background-color: #DDD;
}

.account-list item:active {
    background-color: #CCC;
}

.accicon {
    display: inline-block;
}

.accicon img {
    width: 32px;
    height: 32px;
    margin-left: 10px;
}

.accname {
    margin-left: 20px;
    display: inline-block;
}

.accname mail {
    font-size: 24px;
}

.accounts-list-empty {
    text-align: center;
    width: 300px;

    margin-left: auto;
    margin-right: auto;

    margin-top: 80px;
}
