@import "fonts";
@import "buttons";
@import "account";
@import "news";
@import "window-controls";
@import "dialog";

// TODO: need to rewrite lots of this at some point :P

body {
    margin: 0;
    padding: 0;

    overflow: hidden;

    font-family: "Helvetica", "Arial", "sans-serif";
    background-color: black;
}

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

.no-text-selection {
    -webkit-user-select: none;
}

app {
    position: absolute;

    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background-image: url("../assets/logo.png");
    background-position: right center;
    background-repeat: no-repeat;
}

content {
    position: absolute;

    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 622px;

    background-color: white;
}

actions {
    position: absolute;

    bottom: 10px;
    left: 10px;

    width: 607px;
    height: 50px;

    padding-left: 20px;
}

h1 {
    font-family: "gw2";
    font-size: 23px;
}

a {
    text-decoration: none;
    color: #B31B1B;
    font-weight: bold;

    transition: color 0.4s ease-in-out;
}

a:hover {
    color: #851414;
}

.tab-title {
    .no-text-selection;

    display: inline-block;
    margin-right: 10px;
    color: #BBB;

    transition: color 0.3s ease;

    cursor: pointer;
}

.tab-title.active {
    color: black !important;

    cursor: auto;
}

.tab-title:hover {
    color: #888;
}

.background-video {
}
